body {
    background-color: gold;
    font-size: 1.5rem;
}

@keyframes text {
    0% {
        background-color: dodgerblue;
        font-size: 1.5rem;
    }

    25% {
        background-color: aqua;
        font-size: 2rem;
    }

    50% {
        background-color: aquamarine;
        font-size: 2.5rem;
    }

    75% {
        background-color: lightgreen;
        font-size: 3rem;
    }

    100% {
        background-color: forestgreen;
        font-size: 3.5rem;
    }
}